.game-board {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  height: fit-content;
  width: fit-content;
  margin: auto;
}
